body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}
.delete-btn {
  color: rgb(113, 111, 111);
  font-size: 1rem;
  border: none;
  background: none;
  transition: color 300ms;
  cursor: pointer;
}

.delete-btn:hover {
  color: rgb(0, 0, 0);
}

.delete-btn:active {
  color: rgb(89, 88, 88);
}

.delete-btn:focus {
  outline: none;
}